$darkcolor: #223;
$mainmaterialcolor: darkgoldenrod;
$mainsize: 500px;
$dashW: 0.03 * $mainsize;
$dashH: 0.005 * $mainsize;
$innerSize: 0.9 * $mainsize;
$innerRadius: calc($innerSize / 2);
$content: "";
