body {
  background-color: #223;
}

.watch {
  width: 500px;
  height: 500px;
  background-color: darkgoldenrod;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 100%;
}
.watch .screen {
  width: 450px;
  height: 450px;
  background-color: #7e5c08;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 100%;
}
.watch .screen::before {
  display: block;
  content: "";
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}
.watch .screen .dash {
  width: 15px;
  height: 2.5px;
  background-color: #f4c040;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-right: 15px;
  transform-origin: -195px 0;
}
.watch .screen .dash:nth-child(1) {
  transform: rotate(0deg);
  background-color: #402e04;
  transform-origin: -180px 0;
  width: 30px;
}
.watch .screen .dash:nth-child(1)::after {
  content: "";
  display: block;
  transform: translateX(-30px) rotate(90deg);
}
.watch .screen .dash:nth-child(1)::after {
  content: "3";
}
.watch .screen .dash:nth-child(2) {
  transform: rotate(6deg);
}
.watch .screen .dash:nth-child(3) {
  transform: rotate(12deg);
}
.watch .screen .dash:nth-child(4) {
  transform: rotate(18deg);
}
.watch .screen .dash:nth-child(5) {
  transform: rotate(24deg);
}
.watch .screen .dash:nth-child(6) {
  transform: rotate(30deg);
  background-color: #402e04;
  transform-origin: -180px 0;
  width: 30px;
}
.watch .screen .dash:nth-child(6)::after {
  content: "";
  display: block;
  transform: translateX(-30px) rotate(90deg);
}
.watch .screen .dash:nth-child(6)::after {
  content: "4";
}
.watch .screen .dash:nth-child(7) {
  transform: rotate(36deg);
}
.watch .screen .dash:nth-child(8) {
  transform: rotate(42deg);
}
.watch .screen .dash:nth-child(9) {
  transform: rotate(48deg);
}
.watch .screen .dash:nth-child(10) {
  transform: rotate(54deg);
}
.watch .screen .dash:nth-child(11) {
  transform: rotate(60deg);
  background-color: #402e04;
  transform-origin: -180px 0;
  width: 30px;
}
.watch .screen .dash:nth-child(11)::after {
  content: "";
  display: block;
  transform: translateX(-30px) rotate(90deg);
}
.watch .screen .dash:nth-child(11)::after {
  content: "5";
}
.watch .screen .dash:nth-child(12) {
  transform: rotate(66deg);
}
.watch .screen .dash:nth-child(13) {
  transform: rotate(72deg);
}
.watch .screen .dash:nth-child(14) {
  transform: rotate(78deg);
}
.watch .screen .dash:nth-child(15) {
  transform: rotate(84deg);
}
.watch .screen .dash:nth-child(16) {
  transform: rotate(90deg);
  background-color: #402e04;
  transform-origin: -180px 0;
  width: 30px;
}
.watch .screen .dash:nth-child(16)::after {
  content: "";
  display: block;
  transform: translateX(-30px) rotate(90deg);
}
.watch .screen .dash:nth-child(16)::after {
  content: "6";
}
.watch .screen .dash:nth-child(17) {
  transform: rotate(96deg);
}
.watch .screen .dash:nth-child(18) {
  transform: rotate(102deg);
}
.watch .screen .dash:nth-child(19) {
  transform: rotate(108deg);
}
.watch .screen .dash:nth-child(20) {
  transform: rotate(114deg);
}
.watch .screen .dash:nth-child(21) {
  transform: rotate(120deg);
  background-color: #402e04;
  transform-origin: -180px 0;
  width: 30px;
}
.watch .screen .dash:nth-child(21)::after {
  content: "";
  display: block;
  transform: translateX(-30px) rotate(90deg);
}
.watch .screen .dash:nth-child(21)::after {
  content: "7";
}
.watch .screen .dash:nth-child(22) {
  transform: rotate(126deg);
}
.watch .screen .dash:nth-child(23) {
  transform: rotate(132deg);
}
.watch .screen .dash:nth-child(24) {
  transform: rotate(138deg);
}
.watch .screen .dash:nth-child(25) {
  transform: rotate(144deg);
}
.watch .screen .dash:nth-child(26) {
  transform: rotate(150deg);
  background-color: #402e04;
  transform-origin: -180px 0;
  width: 30px;
}
.watch .screen .dash:nth-child(26)::after {
  content: "";
  display: block;
  transform: translateX(-30px) rotate(90deg);
}
.watch .screen .dash:nth-child(26)::after {
  content: "8";
}
.watch .screen .dash:nth-child(27) {
  transform: rotate(156deg);
}
.watch .screen .dash:nth-child(28) {
  transform: rotate(162deg);
}
.watch .screen .dash:nth-child(29) {
  transform: rotate(168deg);
}
.watch .screen .dash:nth-child(30) {
  transform: rotate(174deg);
}
.watch .screen .dash:nth-child(31) {
  transform: rotate(180deg);
  background-color: #402e04;
  transform-origin: -180px 0;
  width: 30px;
}
.watch .screen .dash:nth-child(31)::after {
  content: "";
  display: block;
  transform: translateX(-30px) rotate(90deg);
}
.watch .screen .dash:nth-child(31)::after {
  content: "9";
}
.watch .screen .dash:nth-child(32) {
  transform: rotate(186deg);
}
.watch .screen .dash:nth-child(33) {
  transform: rotate(192deg);
}
.watch .screen .dash:nth-child(34) {
  transform: rotate(198deg);
}
.watch .screen .dash:nth-child(35) {
  transform: rotate(204deg);
}
.watch .screen .dash:nth-child(36) {
  transform: rotate(210deg);
  background-color: #402e04;
  transform-origin: -180px 0;
  width: 30px;
}
.watch .screen .dash:nth-child(36)::after {
  content: "";
  display: block;
  transform: translateX(-30px) rotate(90deg);
}
.watch .screen .dash:nth-child(36)::after {
  content: "10";
}
.watch .screen .dash:nth-child(37) {
  transform: rotate(216deg);
}
.watch .screen .dash:nth-child(38) {
  transform: rotate(222deg);
}
.watch .screen .dash:nth-child(39) {
  transform: rotate(228deg);
}
.watch .screen .dash:nth-child(40) {
  transform: rotate(234deg);
}
.watch .screen .dash:nth-child(41) {
  transform: rotate(240deg);
  background-color: #402e04;
  transform-origin: -180px 0;
  width: 30px;
}
.watch .screen .dash:nth-child(41)::after {
  content: "";
  display: block;
  transform: translateX(-30px) rotate(90deg);
}
.watch .screen .dash:nth-child(41)::after {
  content: "11";
}
.watch .screen .dash:nth-child(42) {
  transform: rotate(246deg);
}
.watch .screen .dash:nth-child(43) {
  transform: rotate(252deg);
}
.watch .screen .dash:nth-child(44) {
  transform: rotate(258deg);
}
.watch .screen .dash:nth-child(45) {
  transform: rotate(264deg);
}
.watch .screen .dash:nth-child(46) {
  transform: rotate(270deg);
  background-color: #402e04;
  transform-origin: -180px 0;
  width: 30px;
}
.watch .screen .dash:nth-child(46)::after {
  content: "";
  display: block;
  transform: translateX(-30px) rotate(90deg);
}
.watch .screen .dash:nth-child(46)::after {
  content: "12";
}
.watch .screen .dash:nth-child(47) {
  transform: rotate(276deg);
}
.watch .screen .dash:nth-child(48) {
  transform: rotate(282deg);
}
.watch .screen .dash:nth-child(49) {
  transform: rotate(288deg);
}
.watch .screen .dash:nth-child(50) {
  transform: rotate(294deg);
}
.watch .screen .dash:nth-child(51) {
  transform: rotate(300deg);
  background-color: #402e04;
  transform-origin: -180px 0;
  width: 30px;
}
.watch .screen .dash:nth-child(51)::after {
  content: "";
  display: block;
  transform: translateX(-30px) rotate(90deg);
}
.watch .screen .dash:nth-child(51)::after {
  content: "1";
}
.watch .screen .dash:nth-child(52) {
  transform: rotate(306deg);
}
.watch .screen .dash:nth-child(53) {
  transform: rotate(312deg);
}
.watch .screen .dash:nth-child(54) {
  transform: rotate(318deg);
}
.watch .screen .dash:nth-child(55) {
  transform: rotate(324deg);
}
.watch .screen .dash:nth-child(56) {
  transform: rotate(330deg);
  background-color: #402e04;
  transform-origin: -180px 0;
  width: 30px;
}
.watch .screen .dash:nth-child(56)::after {
  content: "";
  display: block;
  transform: translateX(-30px) rotate(90deg);
}
.watch .screen .dash:nth-child(56)::after {
  content: "2";
}
.watch .screen .dash:nth-child(57) {
  transform: rotate(336deg);
}
.watch .screen .dash:nth-child(58) {
  transform: rotate(342deg);
}
.watch .screen .dash:nth-child(59) {
  transform: rotate(348deg);
}
.watch .screen .dash:nth-child(60) {
  transform: rotate(354deg);
}

.arrow {
  background-color: aqua;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  transform-origin: bottom;
}

.arrow:first-of-type {
  width: 1.5px;
  height: 225px;
  background-color: red;
  top: 25px;
  z-index: 3;
  animation: watch 60s steps(60) infinite;
}

.arrow:nth-of-type(2) {
  width: 3.3px;
  height: 175px;
  background-color: #e8a90e;
  top: 75px;
  z-index: 2;
  animation: watch 3600s steps(60) infinite;
}

.arrow:nth-of-type(3) {
  width: 3.6px;
  height: 125px;
  background-color: #fcecc6;
  top: 125px;
  z-index: 1;
  animation: watchhour 43200s linear infinite;
}

@keyframes watch {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes watchhour {
  from {
    transform: rotate(20deg);
  }
  to {
    transform: rotate(340deg);
  }
}/*# sourceMappingURL=style.css.map */
