@import "variables";
@import "common";
@mixin center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
@mixin round {
  border-radius: 100%;
}
@mixin box($w, $h, $bgc) {
  width: $w;
  height: $h;
  background-color: $bgc;
}

.watch {
  @include box($mainsize, $mainsize, $mainmaterialcolor);
  @include center;
  @include round;

  .screen {
    @include box($innerSize, $innerSize, darken($mainmaterialcolor, 12%));
    @include center;
    @include round;
    &::before {
      display: block;
      content: "";
      width: 12px;
      height: 12px;
      background-color: #fff;
      border-radius: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 4;
    }

    .dash {
      @include box($dashW, $dashH, lighten($mainmaterialcolor, 22%));
      @include center;
      margin-right: $dashW;
      transform-origin: -$innerRadius + 2 * $dashW 0;

      @for $n from 1 through 60 {
        &:nth-child(#{$n}) {
          transform: rotate(($n - 1) * 6deg);

          @if ($n - 1) % 5 == 0 {
            background-color: darken($mainmaterialcolor, 25%);
            transform-origin: -$innerRadius + 3 * $dashW 0;
            width: $dashW * 2;
            &::after {
              content: "";
              display: block;
              transform: translateX(-30px) rotate(90deg);
            }

            @if $n == 1 {
              &::after {
                content: "3";
              }
            }
            @if $n == 6 {
              &::after {
                content: "4";
              }
            }
            @if $n == 11 {
              &::after {
                content: "5";
              }
            }
            @if $n == 16 {
              &::after {
                content: "6";
              }
            }
            @if $n == 21 {
              &::after {
                content: "7";
              }
            }
            @if $n == 26 {
              &::after {
                content: "8";
              }
            }
            @if $n == 31 {
              &::after {
                content: "9";
              }
            }
            @if $n == 36 {
              &::after {
                content: "10";
              }
            }
            @if $n == 41 {
              &::after {
                content: "11";
              }
            }
            @if $n == 46 {
              &::after {
                content: "12";
              }
            }
            @if $n == 51 {
              &::after {
                content: "1";
              }
            }
            @if $n == 56 {
              &::after {
                content: "2";
              }
            }
          }
        }
      }
    }
  }
}
.arrow {
  background-color: aqua;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;

  z-index: 1;
  transform-origin: bottom;
}
.arrow:first-of-type {
  width: $arrowW * 0.5;
  height: $arrowH * 0.9;
  background-color: red;

  top: $arrowH - ($arrowH * 0.9);
  z-index: 3;
  animation: watch 60s steps(60) infinite;
}

.arrow:nth-of-type(2) {
  width: $arrowW * 1.1;
  height: $arrowH * 0.7;
  background-color: lighten($mainmaterialcolor, 10%);

  top: $arrowH - ($arrowH * 0.7);
  z-index: 2;
  animation: watch 3600s steps(60) infinite;
}
.arrow:nth-of-type(3) {
  width: $arrowW * 1.2;
  height: $arrowH * 0.5;
  background-color: lighten($mainmaterialcolor, 50%);
  top: $arrowH - ($arrowH * 0.5);
  z-index: 1;
  animation: watchhour 43200s linear infinite;
}
@keyframes watch {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes watchhour {
  from {
    transform: rotate(20deg);
  }
  to {
    transform: rotate(340deg);
  }
}
